{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "next", "next/core-web-vitals", "plugin:prettier/recommended"],
  "ignorePatterns": ["postcss.config.js", "tailwind.config.js", "next.config.js"]
}
