@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-ExtraBold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.contacts-area {
  grid-area: contacts;
}

.profile-area {
  grid-area: profile;
}

.education-area {
  grid-area: education;
}

.experience-area {
  grid-area: experience;
}

.skills-area {
  grid-area: skills;
}

.languages-area {
  grid-area: languages;
}

.interests-area {
  grid-area: interests;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-template-areas: 
    "profile"
    "skills"
    "experience"
    "education"
    "languages"
    "interests";
}
@media (min-width: 768px) {
  .main-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
      "contacts profile"
      "education experience"
      "skills experience"
      "languages experience"
      "interests experience";
  }
}
